# See http://www.appveyor.com/docs/appveyor-yml for many more options
os: WMF 5

# Skip on updates to the readme.
# We can force this by adding [skip ci] or [ci skip] anywhere in commit message 
skip_commits:
  message: /updated readme.*/

install:
  - cinst pester -y

build: false

# Test and upload results
test_script:
  - ps: . .\Tests\appveyor.pester.ps1 -Test -Finalize